.events.innerpage
  .container
    .nav
      .nav-wrap
        a.nav__link(href="#") Путешествия
      .nav-wrap
        a.nav__link(href="#") Дети
      .nav-wrap
        a.nav__link.active(href="#") Лекции и встречи
      .nav-wrap
        a.nav__link(href="#") Искусство и мастерклассы
      .nav-wrap
        a.nav__link(href="#") Книжный клуб
    .events__list
      .events__title Встречи <br>  с психологом
      .events__slider
        img(src="./images/slide.jpg", srcset="./images/slide@2x.jpg 2x" alt="")
        img(src="./images/slide.jpg", srcset="./images/slide@2x.jpg 2x" alt="")
        img(src="./images/slide.jpg", srcset="./images/slide@2x.jpg 2x" alt="")
      .events__pics
        img(src="./images/events__pic.png", srcset="./images/events__pic@2x.png 2x" alt="")
      .events__text
        p Поговорим о том, что такое сексуальный темперамент, что влияет на желание и не желание, что делать, если сексуальность уснула и не хочется ни своего, ни чужого, почему со временем мы хотим меньше наших партнеров и что с этим делать. 
        p Все будет в духе наших пятничных посиделок – для атмосферности и камерности все пройдет в уютной квартире в Митте. Как обычно, мы накроем на стол, зажжем свечи и поговорим о том, о чем обычно никто не разговаривает.
.events__teacher
  .container
    .ticher__pic
      img(src="./images/avatar.png", srcset="./images/avatar@2x.png 2x" alt="")
    .ticher__name Ведет встречи Оля Потемкина
    p.about__text Практикующий психолог. <br>Специализуется на семейной терапии <br>и чем-то еще.
.events__btn-wrap
  .container
    a.events__btn.__callback(href="#") Записаться
a.downnpage(href="#")
  img(src="./images/arrow-down.svg", alt="")