.about.innerpage
  .container
    .smalltitle О клубе
    .about__title «За буйки» – это girls club, где мы<br> встречаемся, чтобы поболтать,<br> повеселиться, узнать новое, найти
    .about__list
      .about__director
        .about__director-pic
          img(src="./images/avatar.png", srcset="./images/avatar@2x.png 2x" alt="")
        .about__director-name
          p Маша Тимошенко
          span  директор
      .about__text
        p.about__text.about__text-item Давайте отбросим все эти «должна<br> вырастить», «должна уберечь» и<br> посмотрим на детей как на отдельных<br> людей. И тогда для нас станет<br> невероятной радостью наблюдать, как они<br> растут.
        p.about__text.about__text-item Мы часто думаем, что воспитание – это<br> работа, необходимость контролировать,<br> запрещать, учить, исправлять – жить<br> жизнью своего ребенка. А зачем?
  a.downnpage(href="#about_2") 
    img(src="./images/arrow-down.svg", alt="")
.about_2#about_2
  .container
    .smalltitle Наши лекторы
    .about__tichers
      .ticher
        .ticher__pic
          img(src="./images/avatar.png", srcset="./images/avatar@2x.png 2x" alt="")
        .ticher__name Оля Потемкина
        p.about__text Практикующий психолог. <br>Специализуется на семейной терапии <br>и чем-то еще.
      .ticher
        .ticher__pic
          img(src="./images/avatar.png", srcset="./images/avatar@2x.png 2x" alt="")
        .ticher__name Оля Потемкина
        p.about__text Практикующий психолог. <br>Специализуется на семейной терапии <br>и чем-то еще.
      .ticher
        .ticher__pic
          img(src="./images/avatar.png", srcset="./images/avatar@2x.png 2x" alt="")
        .ticher__name Оля Потемкина
        p.about__text Практикующий психолог. <br>Специализуется на семейной терапии <br>и чем-то еще.
      .ticher
        .ticher__pic
          img(src="./images/avatar.png", srcset="./images/avatar@2x.png 2x" alt="")
        .ticher__name Оля Потемкина
        p.about__text Практикующий психолог. <br>Специализуется на семейной терапии <br>и чем-то еще.
    .about__bottom
      p.about__text Давайте отбросим все эти «должна<br> вырастить», «должна уберечь» и<br> посмотрим на детей как на отдельных<br> людей. И тогда для нас станет<br> невероятной радостью наблюдать, как они <br>растут.
      p.about__text
        span Поговорим о том, что такое сексуальный темперамент, что влияет на желание и не<br> желание, что делать, если сексуальность уснула и не хочется ни своего, ни чужого,<br> почему со временем мы хотим меньше наших партнеров и что с этим делать. 
        span Все будет в духе наших пятничных посиделок – для атмосферности и камерности все<br> пройдет в уютной квартире в Митте. Как обычно, мы накроем на стол, зажжем свечи <br> и поговорим о том, о чем обычно никто не разговаривает.