<!DOCTYPE html>
html(lang="ru")
  include base/_head
  body
    .wrap
      include header/_header
      include 404/_404
      include footer/_footer
    include popups/_socials
    include popups/_callback
    include popups/_goodmessage
    include base/_scripts 