.popup.--callback
  .popup__bg
  .popup__close
    img(src="./images/close.svg", alt="")
  .popup__panel
    form.form.--error
      .form__title Вступить в клуб
      label.label__input
        input(type="text" placeholder="имя")
      label.label__input
        input(type="text" placeholder="почта")
      label.label__input
        input(type="text" placeholder="телефон")
      label.label__input
        input(type="text" placeholder="Ссылка на FB или IG")
      .submit.btn
        button Отправить заявку
      .error.btn Заполни все поля      