.popup.--goodmessage
  .popup__bg
  .popup__close
    img(src="./images/close.svg", alt="")
  .popup__panel
    .container
      .goodmessage__title Заявка отправлена
      .goodmessage__pic
        img(src="./images/goodmessage.png", srcset="./images/goodmessage@2x.png 2x" alt="")
      .goodmessage__text 
        p Большое спасибо за заявку на вступление!<br> У нас закрытый клуб, поэтому нам нужно<br> проверить информацию перед приемом в<br> наши ряды.