.popup.--socials
  .popup__bg
  .popup__close
    img(src="./images/close.svg", alt="")
  .popup__panel
    .mobile__nav
      a.header__link(href="#") расписание 
      a.header__link(href="#").__callback вступить в клуб 
    .socials
      div
        a.socilas__link(href="#") Инстаграм
      div
        a.socilas__link(href="#") Телеграм с анонсами
      div
        a.socilas__link(href="#") Детский чат
      div
        a.socilas__link(href="#") Общий чат
      div
        a.socilas__link(href="#") Чат книжного клуба
      div
        a.socilas__link(href="#") hi@zaebki.ru