.main
  .container
    .events__slider
        img(src="./images/slide.jpg", srcset="./images/slide@2x.jpg 2x" alt="")
        img(src="./images/slide.jpg", srcset="./images/slide@2x.jpg 2x" alt="")
        img(src="./images/slide.jpg", srcset="./images/slide@2x.jpg 2x" alt="")
    .main__top
      .main__top-left Gilrs Club, <br>где мы идем <br>на встречу <br>приключениям
      .main__top-center
        img(src="./images/foto_main1.png", srcset="./images/foto_main1@2x.png 2x" alt="")
      .main__top-right
        p Осталось 2 места <br>на встречу в субботу <br>Жми!
      .nav-container
        .nav
          .nav-wrap
            a.nav__link(href="#") Путешествия
          .nav-wrap
            a.nav__link(href="#") Дети
          .nav-wrap
            a.nav__link(href="#") Лекции и встречи
          .nav-wrap
            a.nav__link(href="#") Искусство и мастерклассы
          .nav-wrap
            a.nav__link(href="#") Книжный клуб
  .main__bottom
    .container
      .main__bottom-left
        div
          p Gilrs Club
          span 
            | Мы – сообщество девушек, <br>классно проводим время, <br>общаемся и дружим.<br>
            a(href="#") Подробнее о нас
      .main__bottom-center
        img(src="./images/foto_main2.png", srcset="./images/foto_main2@2x.png 2x" alt="")
    .main__bottom-right
      img(src="./images/foto_main3.png", srcset="./images/foto_main3@2x.png 2x" alt="")
  .main__events
    .container
      a.main__event(href="")
        .main__event-pic
          img(src="./images/foto_main1.png", srcset="./images/foto_main1@2x.png 2x" alt="")
        .main__event-text Поездка в Берлин, декабрь 2019
      a.main__event(href="")
        .main__event-pic
          img(src="./images/foto_main1.png", srcset="./images/foto_main1@2x.png 2x" alt="")
        .main__event-text Поездка в Берлин, декабрь 2019
      a.main__event(href="")
        .main__event-pic
          img(src="./images/foto_main1.png", srcset="./images/foto_main1@2x.png 2x" alt="")
        .main__event-text Поездка в Берлин, декабрь 2019
.main-mobile-btns
  .container
    a.btn.--black О нас
    a.btn.--red Расписание событий
footer.footer.--red
  .container
    .footer__wrap
      span.footer__link Москва
      a.footer__link(href="#")
      a.footer__link.footer__link--red.__socials(href="#") Соцсети и общий чат