.calendar.innerpage
  .container
    .smalltitle Расписание ближайших событий
    .calendar__list
      .calendar__item
        .calendar__date
          p.calendar__number 13
          p.calendar__day 
            span январь
            span суббота
        .calendar__event
          .event
            .event__title Детская ёлка 
            a.event__price(href="#")
              span 4500 ₽
              p Купить билет
          .event
            .event__title Детская ёлка 
            a.event__price(href="#")
              span 4500 ₽
              p Купить билет
      .calendar__item
        .calendar__date
          p.calendar__number 13
          p.calendar__day 
            span январь
            span суббота
        .calendar__event
          .event
            .event__title Детская ёлка 
            a.event__price(href="#")
              span 4500 ₽
              p Купить билет
      .calendar__item
        .calendar__date
          p.calendar__number 13
          p.calendar__day 
            span январь
            span суббота
        .calendar__event
          .event
            .event__title Детская ёлка 
            a.event__price(href="#")
              span 4500 ₽
              p Купить билет
      .calendar__item
        .calendar__date
          p.calendar__number 13
          p.calendar__day 
            span январь
            span суббота
        .calendar__event
          .event
            .event__title Новогодний своп <br>с игристым
            a.event__price(href="#")
              span 4500 ₽
              p Купить билет
      .calendar__item
        .calendar__date
          p.calendar__number 13
          p.calendar__day 
            span январь
            span суббота
        .calendar__event
          .event
            .event__title Детская ёлка 
            a.event__price(href="#")
              span 4500 ₽
              p Купить билет
<div id="sh-preloader">
  <div id="sh-wave-loader">
    <svg xmlns="http://www.w3.org/2000/svg" width="80px" height="60px" viewBox="5 0 80 60">
      <path id="wave" fill="none" stroke="#FF0000" stroke-width="3" stroke-linecap="round" d="M 0 37.5 c 7.684299348848887 0 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15">
      </path>
    </svg>
  </div>
</div>
footer.footer.--red
  .container
    .footer__wrap
      span.footer__link Москва
      a.footer__link(href="#")
      a.footer__link.footer__link--red.__socials(href="#") Соцсети и общий чат
          